@import "tailwindcss";

:root {
  --brand-primary:#2D6EEA; /* Blue */
  --brand-secondary:#F9A826; /* Orange */
  --brand-accent:#10B981; /* Green */
  --neutral-900:#111827;
  --neutral-100:#F3F4F6;
}

@layer base {
  body {
    color: var(--neutral-900);
    background: var(--neutral-100);
  }
  h1,h2,h3,h4 {
    font-family: "Poppins", Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  }
  a {
    text-underline-offset: 2px;
  }
}
